<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FullFriends</title>
  </head>
  <body>
    <h1>Friends</h1>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for friend in all_friends %}
                <tr>
                    <td>{{ friend['first_name'] }}</td>
                    <td>{{ friend['last_name'] }}</td>
                    <td>{{ friend['email'] }}</td>
                    <td>
            					<form action="/friends/{{friend['id']}}/edit" id="edit" method="GET">
            						<input type="submit" value="Edit" name="edit">
            					</form>
            					<form action="/friends/{{friend['id']}}/delete" id="delete" method="POST">
            						<input type="submit" value="Delete" name="delete">
            					</form>
                    </td>
               </tr>
            {% endfor %}
      </tbody>
  </table>


		<h2>Add a new friend:</h2>
       <form action='/friends' method='POST'>
         <label for="first_name">First Name: <input type="text" name="first_name" ></label>
         <label for="last_name">Last Name: <input type="text" name="last_name" ></label>
         <label for="email">Email: <input type="text" name="email" ></label>
         <input type="submit" value="Submit">
         {% with messages = get_flashed_messages() %}
       {% if messages %}
           {% for message in messages %}
               <p error>{{ message }}</p>
           {% endfor %}
       {% endif %}
   {% endwith %}
    </form>
  </body>
</html>
